# Ignore node_modules and dist in all subdirectories
**/node_modules/
**/dist/

# PNPM specific files
pnpm-lock.yaml

# Ignore environment files
*.env
apps/backend/.env
apps/web/.env
apps/mobile/.env
packages/*/.env

# Auto Generated PWA files
apps/web/public/sw.js
apps/web/public/workbox-*.js

# Ignore build and cache files for Next.js
apps/web/.next/

# Temporary and system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage reports
coverage/

# Ignore local development configurations
apps/backend/.env.local
apps/web/.env.local
apps/mobile/.env.local

# Ignore output from mobile apps (React Native)
apps/mobile/android/
apps/mobile/ios/
